Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
click==6.6
Flask==0.11.1
Flask-WTF==0.13.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
motor==1.1
pika==0.10.0
productai==0.0.2
pymongo==3.4.0
PyMySQL==0.7.9
pytz==2016.7
redis==2.10.5
requests==2.12.3
selenium==3.0.2
six==1.10.0
tornado==4.4.2
urllib3==1.19.1
Werkzeug==0.15.3
WTForms==2.1



