{% extends "layout/base.html" %}

{% block title%}
站点管理
{% end %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Website
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Website</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <h1>Website</h1>
</section>


{% end %}
